body{
    font-family: 'Poppins', sans-serif; 
}
h2{
    font-size: 40px;
}
.color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width:50%;
    padding-left:100px;
}
.half-width img{
   width:50% ;
}
.link-button{
    text-decoration: none;
    background-color:purple;
    padding:8px 33px ;
    color: white;
}