body{
    font-family: 'Poppins', sans-serif; 
}
h1{
    font-size: 40px;
}
.color{
    color: orange;
}
section{
    display:flex;
}
.half-width{
    width:50%;
    padding-left:100px;

}
.half-width img{
   width:60% ;
   padding-bottom:100px ;
}
.link-button{
    text-decoration: none;
    background-color:purple;
    padding:8px 33px ;
    color: white;
}
.mission{
    text-align: center;
}
.second-area img{
    width:30%;
    padding-left:120px;
    
}
.side{
    padding-left:150px;
}
.side p{
    padding-left:100px;

}
.class{
    padding-left: 150px;
}
.color{
    coior:orange;
}
.boult{
    padding-left: 150px;
}
#voult{
    padding-right:200px;
}
footer p{
    text-align: center;
}






